:root {
	--font: 'Montserrat', sans-serif,'Poppins','Sevillana';
}

.login-container{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items:center;
	justify-content:center;
	overflow: hidden;
}

.card{
	width: 1200px;
	height: 600px;
	background-color: transparent;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cardInfo{
	width: 59%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	box-shadow: 0px 0px 5px rgb(255, 255, 255);
	display: flex;
	align-items:center;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.cardInfo::after{
	content:'';
	width: 250px;
	height: 10px;
	background-color: rgba(0, 0, 0, 0.512);
	position: absolute;
	border-radius: 50%;
	transform: translate(-40px, 115px);
	filter: blur(8px);
}

.cardInfo h1{
	translate: 0px -20px;
	font-size: 60px;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Poppins', sans-serif;
	font-family: 'Sevillana', cursive;
	font-weight: 400;
}

.cardInfo img{
	width: 350px;
	rotate: -25deg;
	translate: 0px -30px;
}

button{
	background-color: transparent;
	width: 100px;
}

.cardLogin{
	width: 40%;
	height: 100%;
	background-color: transparent;
	backdrop-filter: blur(20px);    
	border: 1px solid white;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0px 0px 5px rgb(255, 255, 255);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content:space-evenly;
}

.login-text{
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Poppins', sans-serif;
	font-family: 'Sevillana', cursive;
	color: white;
	text-align: center;
}

.check{
	display: flex;
	align-items: center;
	gap: 10px;
}

.check input{
	scale: 1.8;
	translate: 0px 0px;
	cursor: pointer;
}

.form{
	width: 70%;
	height: 150px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
}

.lang{
	width: 90%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.lang button {
	width: 70px;
	height: 70px;
	overflow: hidden;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid white;
}

.lang img{
	width: 110%;
	height: 110%;
}

.lang button:nth-child(1) img{
	translate: 24px 0px;
	width: 170%;
}

.lang button:nth-child(2) img{
	width: 115%;
	height: 115%;
}
form label {
	font-size:28px;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Poppins', sans-serif;
	font-family: 'Sevillana', cursive;
	color: rgba(255, 255, 255, 0.797);
}

.login-btn{
	width : 170px;
	height: 50px;
	border: none;
	border-radius: 10px;
	background-color: transparent;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-bg{
	width: 180px;
	height: 210px;
}

.btn-bg:active{
	translate: 0px 5px;
}
/* ------------------------- */

@media screen and (max-width: 1280px) {
	.card{
			width: 70%;
			height: 600px;   
			flex-direction: column;
			background-color: rgba(255, 255, 255, 0.324);
			backdrop-filter: blur(30px); 
			border: 1px solid white;
	}

	.cardInfo{
			width: 100%;
			height: 40%;
			background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.721));
			box-shadow: none;
			border: none;
			border-top-right-radius: 20px;
			border-bottom-left-radius: 0px;
			justify-content: space-between;
	}

	.cardLogin{
			width: 100%;
			height: 60%;
			border: none;
			box-shadow: none;
			backdrop-filter: none;
			display: flex;
			justify-content: space-evenly;
			flex-direction: column;
	}

	.cardInfo img{
			width: 180px; 
			height: 180px;
			translate: 0px 10px; 
	}


	.cardInfo::after{
			content:'';
			display: none;
	}


	.cardInfo h1{
			color: white;
			translate: 0px 0px;
			font-size: 45px;
	}

	.lang{
		width: 70%;
	}

	.lang button {
		width: 70px;
		height: 70px;
	}

	.form{
		width: 70%;
		height: 80px;
		gap: 0px;
		translate: 50px 0px;
	}

}

@media screen and (max-width: 1000px){
	.form{
		width: 90%;
	}
	.cardInfo::after {
		display: none !important;
	}
	.login-container{
		height: 95vh;
	}
}

@media screen and (max-width: 800px){
	.card{
		height: 90%;
	}

	.cardInfo img{
		width: 200px
	}

	.cardInfo h1{
		font-size: 30px
	}
	
	.login-text{
		font-size: 28px;
	}


	.check input{
		scale: 1.5;
	}
	.check label{
		font-size: 25px;
	}
}

@media screen and (max-width: 760px) {
	.form{
		height: 120px;
	}
}

@media screen and (max-width: 550px) {

	.card{
		height: 550px;
	}

	.cardInfo img{
		width: 150px;
		height: 150px;
	}
	.cardLogin{
		height: 70%;
	}
	.lang button{
		width: 60px;
		height: 60px;
	}
	.form{
		width: 100%;
		translate: 30px 0px;
	}

	.lang button:nth-child(1) img{
		translate: 20px 0px;
		width: 170%;
	}

	.lang button:nth-child(2) img{
		translate: 0px -1px;
	}

}

@media screen and (max-width: 450px) {
	.card {
    height:500px;
  }

	.lang button {
		width: 50px;
		height: 50px;
	}
	.form{
		width: 95%;
		height: 90px;
		translate: 10px 0px;
	}
	.check input{
		scale: 1.0;
	}
	.check label{
		font-size: 20px;
	}
	.login-btn{
		width: 100px;
		height: 40px;
	}

	.lang button:nth-child(1) img{
		translate: 15px 0px;
		width: 170%;
	}

	.lang button:nth-child(2) img{
		translate: 0px -1px;
	}
	
}